ion-header {
    ion-title {
        margin-right: 48px;
    }
}

.main {
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    ion-select {
        // width: 100px;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // text-align: center;
    }
    
    div, main .menu-credits a  {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px;
    }
    
    div p, main .menu-credits a {
        color: var(--text-color);
    }
    
    .menu-qrcode {
        img {
            border-radius: 20px;
        }
    }
}