<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="cardapio" href="/tabs/cardapio">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Cardápio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tarefas" href="/tarefas">
      <ion-icon name="checkmark-done-outline"></ion-icon>
      <ion-label>Tarefas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notas" href="/notas">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Notas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
